body {
    min-height: 2000px;
  }
  .jumbotron {
    padding-top: 2rem;
    background-color: #D9F8C4;
  }
  
  #projects {
    background-color: #D9F8C4;
  }
  
  .warna {
    background-color: #D9F8C4;
  }